<div class="container px-0 mb-3 mb-sm-5">
  <app-carousel></app-carousel>
</div>

<div class="container mb-3 mb-md-5">
  <div class="row text-center">
    <div class="col-md-4 mb-3">
      <img src="assets/img/artist.png" class="img-fluid" alt="">
      <hr />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>
    <div class="col-md-4 mb-3">
      <img src="assets/img/music.png" class="img-fluid" alt="">
      <hr />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>
    <div class="col-md-4 mb-3">
      <img src="assets/img/album.png" class="img-fluid" alt="">
      <hr />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>
  </div>
</div>
